.footer {
  margin-bottom: 100px;

  &-col {
    height: 100%;
    padding: 47px 26px;
    border: $element-border;

    .footer-header {
      width: 100%;
      flex-grow: 1;
  
      .footer-title {
        @include font(20px, 600, 1);
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 21px;
        word-break: break-word;
      }
  
      .footer-description {
        @include font(11px, 300, 15px);
        word-break: break-word;
        color: $color-additional;
        margin: 0;
        margin-bottom: 17px;
      }
    }
  
    .footer-body {
      width: 100%;
    }
  }
}
