<footer class="footer">
  <div class="container">
    <div class="grid footer-layout">
      <div class="col col-12 col-4m">
        <div class="footer-col">
          <header class="footer-header">
            <h2 class="footer-title font-second">Hot offers</h2>
            <p class="footer-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae. Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit magna, hend.</p>
          </header>
          <main class="footer-body">
            <ul class="footer-list">
              <li class="footer-list-item">
                Vestibulum ante ipsum primis in faucibus orci luctus
              </li>
              <li class="footer-list-item">
                Nam elit magna hendrerit sit amet tincidunt ac
              </li>
              <li class="footer-list-item">
                Quisque diam lorem interdum vitae dapibus ac scele
              </li>
              <li class="footer-list-item">
                Donec eget tellus non erat lacinia fermentum
              </li>
              <li class="footer-list-item">
                Donec in velit vel ipsum auctor pulvin
              </li>
            </ul>
          </main>
        </div>
      </div>
      <div class="col col-12 col-4m">
        <div class="footer-col">
          <header class="footer-header">
            <h2 class="footer-title font-second">Hot offers</h2>
            <p class="footer-description">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae. Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit magna, hend.</p>
          </header>
          <main class="footer-body">
            <ul class="footer-list">
              <li class="footer-list-item">
                Vestibulum ante ipsum primis in faucibus orci luctus
              </li>
              <li class="footer-list-item">
                Nam elit magna hendrerit sit amet tincidunt ac
              </li>
              <li class="footer-list-item">
                Quisque diam lorem interdum vitae dapibus ac scele
              </li>
              <li class="footer-list-item">
                Donec eget tellus non erat lacinia fermentum
              </li>
              <li class="footer-list-item">
                Donec in velit vel ipsum auctor pulvin
              </li>
            </ul>
          </main>
        </div>
      </div>
      <div class="col col-12 col-4m">
        <div class="footer-col">
          <header class="footer-header">
            <h2 class="footer-title font-second">Store information</h2>
          </header>
          <main class="footer-body">
            <ul class="contacts">
              <li class="contacts-li marker-icon"><a class="contacts-a" href="tg://resolve?domain=kamiour">Company Inc., 8901 Marmora Road, Glasgow, D04 89GR</a></li>
              <li class="contacts-li phone-icon">
                <a class="contacts-a" href="tel:+380505263858">Call us now toll free: (800) 2345-6789</a>
              </li>
              <li class="contacts-li message-icon">
                <ul class="contacts-li-group">
                  <li><a class="contacts-a" href="mailto: email@email.com">Customer support: support@example.com</a></li>
                  <li><a class="contacts-a" href="mailto: email@email.com">Press: pressroom@example.com</a></li>
                </ul>
              </li>
              <li class="contacts-li skype-icon">
                <a class="contacts-a" href="skype:kamiour1?add">Skype: sample-username</a>
              </li>
            </ul>
        </main>
        </div>
      </div>
    </div>
  </div>
</footer>